//
// Column classes
// =============================================================================

//
// Columns
// --------------------------------------------------

@for $i from 1 through $num-columns {
  ._cols-#{$i} {
    column-count: $i;
  }
}

//
// Column gap
// --------------------------------------------------

._col-gap {
  column-gap: $gutter;
}

//
// Masonry layout
// --------------------------------------------------

._masonry > * {
  display: inline-block;
  width: 100%;
}