//
// Display classes
// =============================================================================

._inline-block { display: inline-block; }
._block { display: block; }
._inline { display: inline; }
._flex { display: flex; }
