//
// Display classes
// =============================================================================

._dis-inline-block { display: inline-block; }
._dis-block { display: block; }
._dis-inline { display: inline; }
._dis-flex { display: flex; }
