//
// Margin classes
// =============================================================================

// Resets
.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }

// All the sides
.mxs { margin: $spacing-xs; }
.ms { margin: $spacing-s; }
.mm { margin: $spacing-m; }
.ml { margin: $spacing-l; }
.mxl { margin: $spacing-xl; }

// Extra small
.mtxs { margin-top: $spacing-xs; }
.mrxs { margin-right: $spacing-xs; }
.mbxs { margin-bottom: $spacing-xs; }
.mlxs { margin-left: $spacing-xs; }

// Small
.mts { margin-top: $spacing-s; }
.mrs { margin-right: $spacing-s; }
.mbs { margin-bottom: $spacing-s; }
.mls { margin-left: $spacing-s; }

// Medium
.mtm { margin-top: $spacing-m; }
.mrm { margin-right: $spacing-m; }
.mbm { margin-bottom: $spacing-m; }
.mlm { margin-left: $spacing-m; }

// Large
.mtl { margin-top: $spacing-l; }
.mrl { margin-right: $spacing-l; }
.mbl { margin-bottom: $spacing-l; }
.mll { margin-left: $spacing-l; }

// Extra Large
.mtxl { margin-top: $spacing-xl; }
.mrxl { margin-right: $spacing-xl; }
.mbxl { margin-bottom: $spacing-xl; }
.mlxl { margin-left: $spacing-xl; }