//
// Margin classes
// =============================================================================

// Resets
._p0 { padding: 0; }
._pt0 { padding-top: 0; }
._pr0 { padding-right: 0; }
._pb0 { padding-bottom: 0; }
._pl0 { padding-left: 0; }

// All the sides
._pxs { padding: $spacing-xs; }
._ps { padding: $spacing-s; }
._pm { padding: $spacing-m; }
._pl { padding: $spacing-l; }
._pxl { padding: $spacing-xl; }

// Extra small
._ptxs { padding-top: $spacing-xs; }
._prxs { padding-right: $spacing-xs; }
._pbxs { padding-bottom: $spacing-xs; }
._plxs { padding-left: $spacing-xs; }

// Small
._pts { padding-top: $spacing-s; }
._prs { padding-right: $spacing-s; }
._pbs { padding-bottom: $spacing-s; }
._pls { padding-left: $spacing-s; }

// Medium
._ptm { padding-top: $spacing-m; }
._prm { padding-right: $spacing-m; }
._pbm { padding-bottom: $spacing-m; }
._plm { padding-left: $spacing-m; }

// Large
._ptl { padding-top: $spacing-l; }
._prl { padding-right: $spacing-l; }
._pbl { padding-bottom: $spacing-l; }
._pll { padding-left: $spacing-l; }

// Extra Large
._ptxl { padding-top: $spacing-xl; }
._prxl { padding-right: $spacing-xl; }
._pbxl { padding-bottom: $spacing-xl; }
._plxl { padding-left: $spacing-xl; }