//
// Position classes
// =============================================================================

._abs { position: absolute; }
._rel { position: relative; }
._sta { position: static; }
._fix { position: fixed; }