//
// Position classes
// =============================================================================

._pos-abs { position: absolute; }
._pos-rel { position: relative; }
._pos-static { position: static; }
._pos-fix { position: fixed; }