//
// Typography classes
// =============================================================================

._bold { font-weight: bold; }
._caps { text-transform: uppercase; }
._font-family-inherit { font-family: inherit; }
._font-size-inherit { font-size: inherit; }
._italic { font-style: italic; }
._no-decoration {text-decoration: none; }
._regular { font-weight: normal; }
._small-caps { 
  font-feature-settings: "smcp" 1, "c2sc" 1;
  letter-spacing: 0.05em;
}
._text-center { text-align: center; }
._text-left { text-align: left; }
._text-right { text-align: right; }
._underline { text-decoration: underline; }